<div class="flex-between pad-btt-sm cap-width separate-above">
	<h2 style="margin: 0;">From the blog</h2>
	<a href="/blog/">See all blog posts</a>
</div>
<ul class="pad-top-lg pad-btt-md no-list-style cap-width">
	{%- for post in collections.blog | reverse | limit(3) -%}
	<li class="cap-width-sm card blog-card">
			<a href="{{ post.url | url }}">
				<img src="{{ post.data.image }}" width="504"
					height="215" {% if post.data.imageAlt %}alt="{{ post.data.imageAlt }}" {% else %}alt="" {% endif %}
					loading="lazy" decoding="async" eleventy:ignore />
				</a>
			<div>
				<h3 style="margin:0;"><a href="{{ post.url | url }}">{{ post.data.title }}</a></h3>
				{% if post.data.teaser %}
				<small class="blog-teaser">{{ post.data.teaser }}</small>
				<small class="light">{{ post.date | readableDate }}</small>
				{% endif %}
			</div>
	</li>
	{%- endfor -%}
</ul>