<nav aria-label="Main navigation">
    <div class="logo-plus-nav">
        <a href="/" class="logo-link" title="{{ site.name }} - Home">{% include "_icons/_logo.njk" %}</a>
        <div class="nav-links desktop-nav">
            <a href="/services/">Services</a>
            <a href="/portfolio/">Portfolio</a>
            <a href="/playground/">Playground</a>
            <a href="/blog/">Blog</a>
            <a href="/contact/">Contact</a>
        </div>
        <details class="mobile-menu">
            <summary aria-label="Toggle menu">
                <span class="hamburger noselect">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </summary>
            <div class="mobile-menu-panel">
                <div class="mobile-menu-links">
                    <a href="/">Home</a>
                    <a href="/services/">Services</a>
                    <a href="/how-i-work/">How I work</a>
                    <a href="/portfolio/">Portfolio</a>
                    <a href="/playground/">Playground</a>
                    <a href="/blog/">Blog</a>
                    <a href="/faqs/">FAQs</a>
                </div>
                <a href="/contact/" class="button-like white-button">Contact</a>
            </div>
        </details>
    </div class="logo-plus-nav">
    <a href="/" class="noselect home-link">Home</a>
</nav>