{%- macro playgroundProject(title, year, link, description, images) -%}
<article class="work playground">
  <div class="cap-width">
    {% if link %}
      <h3><a href="{{ link }}">{{ title }}</a></h3>
    {% else %}
      <h3>{{ title }}</h3>
    {% endif %}
    <span class="light">{{ year }}</span>
  </div>

  {% if description %}
    <p class="cap-width">{{ description }}</p>
  {% endif %}

  {% if images and images.length > 0 %}
    <figure class="image-scroll">
      {% for image in images %}
        {% set imageName = image.src | split('/') | last | split('.') | first %}
        {% set imageExt = image.src | split('.') | last | lower %}
        {% set actualExt = 'jpeg' if imageExt == 'jpg' else imageExt %}
        <img src="/assets/images/{{ imageName }}.{{ actualExt }}" alt="{{ image.alt }}" loading="lazy" decoding="async">
      {% endfor %}
    </figure>
  {% endif %}

</article>
{%- endmacro -%}