<!DOCTYPE html>
<html lang="en">
{% include "_head.njk" %}

<body>
	<header>
		{%- include "_header.njk" -%}
	</header>

	<main class="page-margins pad-btt-md">
			<div class="secondary-header pad-btt-md">
				<div>
					<h1>{{ navtitle | default(title) }}</h1>
					<div class="simple-column">
						{% if date %}
						<small class="light pad-top-sm">{{ site.name }}</small>
						<small class="light">{{ date | readableDate }}</small>
						{% endif %}
						{% if category %}
						<small class="light">Tagged:&nbsp;
							{%- for category in collections.blogCategories -%}
							<a href="/blog/{{ category | slugify }}/">{{ category }}</a> {% if not loop.last %} | {% endif %}
							{%- endfor -%}
						</small>
						<small><a href="/blog/">See all posts</a></small>
						{% endif %}
					</div>
				</div>
				{% include "_links.njk" %}
			</div>
			{% if image %}
			<img src="{{ image }}" width="645" height="323" {% if imageAlt %}alt="{{ imageAlt }}"{% else %}alt=""{% endif %} loading="lazy" decoding="async" />
			{% endif %}
			<section class="pad-top-lg cap-width post-content">{{ content | safe }}</section>
	</main>

	{%- include "_footer.njk" -%}

	<script src="/assets/app-core.js" defer></script>
</body>

</html>