{%- macro projectCard(role, description, image) -%}
<div class="work cap-width">
    {% if image %}
      <img
        width="100%"
        height="617"
        {% if image.width and image.height %}style="aspect-ratio: 463 / 617"{% endif %}
        src="{{ image.src }}"
        alt="{{ image.alt }}"
        loading="lazy"
        class="give-bg"
        eleventy:ignore
      />
      {% if image.title %}
      {% endif %}
    {% endif %}
    <div class="flex-between">
      <h3 class="small-like pad-top-sm" style="margin-bottom:0;">{{ image.title }}</h3>
    </div>
    {% if role %}
    <span class="small-like light">{{ role }}</span>
    {% endif %}
  {% if description %}
    <span class="description small-like">{{ description | safe }}</span>
  {% endif %}
</div>
{%- endmacro -%}