<div class="separate-above">
	<form id="signup-form" class="email-signup-form pad-btt-md cap-width">
			<h2>Join my mailing list</h2>
			<p class="pad-top-lg">Finally, something decent in your inbox. Sign up now and get intentional (no spam or AI slop) email updates about:</p>
			<ul class="plain-list no-list-style">
				<li>🌱 New projects and experiments</li>
				<li>🎫 Invites to gatherings and workshops</li>
				<li>💸 Special offers and (occasional) surprises</li>
			</ul>
			<div class="form-field pad-top-md">
				<label for="email" class="pad-top-sm"><b>Email</b></label>
				<input type="email" id="email" name="email" placeholder="your@email.com" required />
			</div>
			<div class="form-field checkbox-field">
				<label>
					<input style="margin-bottom: 2px" type="checkbox" id="privacyConsent" name="privacyConsent" required />
					<span class="small-like">I'm happy to get updates and I understand how my data is handled (<a
							href="https://francescoimola.notion.site/Privacy-Communications-Notice-Francesco-Imola-106e78091df3803aa3cdf5d614ae6146"
							target="_blank">see Privacy Notice</a>)</span>
				</label>
			</div>
			<button type="submit" class="pad-top-md inverted-button" id="submit-button">
				Yes, keep me posted
			</button>
			<div id="form-message" class="form-message"></div>
	</form>
</div>