<div class="separate-above">
	<form
	id="signup-form"
	class="email-signup-form pad-btt-md cap-width"
	name="mailinglist"
  	method="POST"
  	action="/thank-you/"
  	netlify-honeypot="bot-field"
	data-netlify-recaptcha="true"
  	data-netlify="true"
	>
			<h2>Join my mailing list</h2>
			<p>Finally, something decent in your inbox. Sign up now and get intentional (no spam or AI slop) email updates about:</p>
			<ul class="plain-list no-list-style">
				<li>🌱 New projects and experiments</li>
				<li>🎫 Invites to gatherings and workshops</li>
				<li>✨ Special offers and (occasional) surprises</li>
			</ul>
			<div class="form-field pad-top-md">
				<label for="femail" class="pad-top-sm"><b>Email</b></label>
				<input type="email" id="femail" name="femail" placeholder="your@email.com" required minlength="2" maxlength="254" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" title="Valid email address"/>
			</div>
			<p class="hidden">
    <label>
      Don’t fill this out if you’re human: <input name="bot-field" type="text" />
    </label>
  </p>
			<div class="form-field checkbox-field">
				<label>
					<input style="margin-bottom: 2px" type="checkbox" id="privacyConsent" name="privacyConsent" required />
					<span class="small-like">I'm happy to get updates and understand how my data is handled (<a
							href="https://francescoimola.notion.site/Privacy-Communications-Notice-Francesco-Imola-106e78091df3803aa3cdf5d614ae6146"
							target="_blank" rel="noopener noreferrer" style="vertical-align: baseline;">Privacy Notice</a>)</span>
				</label>
			</div>
			<div data-netlify-recaptcha="true"></div>
			<button type="submit" class="button-like pad-top-sm" id="submit-button">
				Yes, keep me posted
			</button>
	</form>
</div>