---js
{
layout: "_base.njk",
navtitle: "Blog",
eleventyExcludeFromCollections: true,
permalink: function(data) {
if (data.pagination.pageNumber > 0) {
return `/blog/page-${data.pagination.pageNumber + 1}/`;
}
return `/blog/`;
},
pagination: {
data: "collections.blog",
size: 10,
alias: "posts"
},
eleventyComputed: {
title: function(data) {
return data.blog.title;
},
description: function(data) {
return data.blog.description;
}
}
}
---

{# NOTE: This markup is duplicated in category-pages.njk #}

<div class="cap-width">
  <div class="tags-filter">
    <a href="/blog/" class="current">All</a>
    {%- for tag in collections.blogCategories -%}
    <a href="/blog/{{ tag | slugify }}/">{{ tag }}</a>
    {%- endfor -%}
  </div>
</div>

<section class="pad-top-lg pad-btt-md cap-width-lg">
  {%- for post in posts | reverse -%}
  <article class="blog-post-preview">
    {% if post.data.image %}
    <a href="{{ post.url | url }}" class="blog-post-preview__image"><img src="{{ post.data.image }}" width="320"
        height="160" {% if post.data.imageAlt %}alt="{{ post.data.imageAlt }}" {% else %}alt="" {% endif %}
        loading="lazy" decoding="async" eleventy:ignore /></a>
    {% endif %}

    <div class="blog-post-preview__content">
      <h2 class="blog-header"><a href="{{ post.url | url }}">{{ post.data.title }}</a></h2>
      <small class="blog-date">{{ post.date | readableDate }}</small>
      {% if post.data.teaser %}
      <p class="blog-teaser">{{ post.data.teaser }}</p>
      {% endif %}

    </div>
  </article>
  {%- endfor -%}
</section>