---
layout: _base.njk
title: "{{ blog.title }}"
description: "{{ blog.description }}"
navtitle: Blog
eleventyExcludeFromCollections: true
permalink: /blog/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}
pagination:
  data: collections.blog
  size: 10
  alias: blog
---

<div class="cap-width">
	<nav aria-label="Blog category filter" class="tags-filter">
			<a href="/blog" class="current">All</a>
			{%- for tag in collections.blogCategories -%}
				<a href="/blog/{{ tag | slugify }}/">{{ tag }}</a>
			{%- endfor -%}
	</nav>
</div>

<ul class="plain-list pad-top-lg pad-btt-md">
	  {%- for post in collections.blog | reverse -%}
	    <li class="pad-btt-md blog-post-item">
		  <article>
            {% if post.data.image %}
			<a href="{{ post.url | url }}" class="blog-post-image"><img src="{{ post.data.image }}" width="345" height="134" {% if post.data.imageAlt %}alt="{{ post.data.imageAlt }}"{% else %}alt=""{% endif %} loading="lazy" decoding="async" /></a>
		  {% endif %}
	      <div class="blog-post-content cap-width">
	        <header class="post-header"><h2><a href="{{ post.url | url }}">{{ post.data.title }}</a></h2><time class="small-like" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time></header>
	        {% if post.data.teaser %}
	          <p class="pad-top-md cap-width">{{ post.data.teaser }}</p>{% endif %}</div>
		  </article>
		</li>{%- endfor -%}
</ul>