---
pagination:
  data: collections.blogCategories
  size: 1
  alias: category
permalink: "/blog/{{ category | slugify }}/"
layout: _base.njk
eleventyExcludeFromCollections: true
eleventyComputed:
  title: "Blog → {{ category }}"
  description: "Everything I've written about {{ category }}"
---

{# NOTE: This markup is duplicated in blog.njk and category-pages.njk #}

<div class="cap-width">
  <div class="tags-filter">
    <a href="/blog/">All</a>
    {%- for tag in collections.blogCategories -%}
    <a href="/blog/{{ tag | slugify }}/" {% if tag==category %} class="current" {% endif %}>{{ tag }}</a>
    {%- endfor -%}
  </div>
</div>

<section class="pad-top-lg pad-btt-md">
  {%- for post in collections.blog | filterByCategory(category) | reverse -%}
  <article class="blog-post-preview">
    {% if post.data.image %}
    <a href="{{ post.url | url }}" class="blog-post-preview__image"><img src="{{ post.data.image }}" width="320"
        height="160" {% if post.data.imageAlt %}alt="{{ post.data.imageAlt }}" {% else %}alt="" {% endif %}
        loading="lazy" decoding="async" eleventy:ignore /></a>
    {% endif %}

    <div class="blog-post-preview__content cap-width-sm">
      <h2 class="blog-header"><a href="{{ post.url | url }}">{{ post.data.title }}</a></h2>
      <small class="blog-date">{{ post.date | readableDate }}</small>
      {% if post.data.teaser %}
      <p class="blog-teaser">{{ post.data.teaser }}</p>
      {% endif %}

    </div>
  </article>
  {%- endfor -%}
</section>