---
pagination:
  data: collections.blogCategories
  size: 1
  alias: category
permalink: "/blog/{{ category | slugify }}/"
layout: _base.njk
eleventyExcludeFromCollections: true
eleventyComputed:
  title: "Blog → {{ category }}"
  description: "Everything I've written about {{ category }}"
---
<div class="cap-width">
  <div class="tags-filter">
    <a href="/blog">All</a>
    {%- for tag in collections.blogCategories -%}
      <a href="/blog/{{ tag | slugify }}/"{% if tag == category %} class="current"{% endif %}>{{ tag }}</a>
    {%- endfor -%}
  </div>
</div>


<ul class="plain-list pad-top-lg pad-btt-md">
	  {%- for post in collections.blog | filterByCategory(category) | reverse -%}
	    <li class="pad-btt-md blog-post-item">
            {% if post.data.image %}
			<a href="{{ post.url | url }}" class="blog-post-image"><img src="{{ post.data.image }}" class="give-border" width="345" height="134" {% if post.data.imageAlt %}alt="{{ post.data.imageAlt }}"{% else %}alt=""{% endif %} loading="lazy" decoding="async" /></a>
		  {% endif %}
	      <div class="blog-post-content">
	        <div class="post-header"><h2><a href="{{ post.url | url }}">{{ post.data.title }}</a></h2><small>{{ post.date | readableDate }}</small></div>
	        {% if post.data.teaser %}
	          <p class="pad-top-md cap-width">{{ post.data.teaser }}</p>{% endif %}</div></li>{%- endfor -%}
</ul>
