---
layout: _base.njk
title: About
description: Learn more about my work, background, and approach to design and marketing.
navtitle: About
signup: true
---

<section class="pad-btt-md cap-width">
    <h2>The guy behind the keyboard</h2>
    <figure class="pad-top-md">
        <img src="https://res.cloudinary.com/dax6x2pto/image/upload/c_lfill,w_1290,f_auto,q_auto/dither_it_Pacioli_g8pabn.webp"
            width="643" height="429" alt="portrait of francesco in a living room surrounded by plants" loading="lazy"
            decoding="async" / eleventy:ignore>
        <figcaption>
            <aside
                data-tooltip="Photography by Amy Louise Kolsteren, edit by me with AI match aspect ratio, then dithered to reduce size">
                &#9432;</aside>
        </figcaption>
    </figure>
    <p class="pad-top-md">Who am I? A designer at heart, but you can often find me building bridges across the murky waters of marketing,
        branding, art, and building resources for fellow creatives.</p>
    <p>I've previously worked with B2B, B2C, and public-sector teams from <a href="https://www.gre.ac.uk/las/design"
            target="_blank" rel="noopener noreferrer">University of Greenwich</a>, <a
            href="https://www.seatingplan.com/" target="_blank" rel="noopener noreferrer">Mega Seating Plan</a>, and <a
            href="https://blueberrycreatives.co.uk/" target="_blank" rel="noopener noreferrer">Blueberry</a>. In this
        lifetime, I've also dipped my toes in <a href="/playground/">other creative disciplines</a>, including music
        production, exhibition curation, visual art, social media content, and photography.
    <p>I now partner with people who care deeply about what they do, and I help them solve problems with their website,
        mailing list, SEO, or marketing operations. My superpower? I'm no specialist. The beauty of not being stuck in
        one corner is that, unlike specialists, 1) I don't wear blinders, 2) I can see the big picture, and 3) I can get
        you out of (almost) any quandary.</p>
    <a href="/portfolio/" class="button-like white-button pad-top-sm">My work</a>
</section>

<section class="pad-btt-md cap-width separate-above">
    <h2>Planet-aware design</h2>
    <img class="pad-top-md no-bkg" src="https://res.cloudinary.com/dax6x2pto/image/upload/c_lfill,w_1290,f_auto,q_auto/planet-first_design_yjpge9.png"
        width="643" height="428" alt="the Folkestone harbour arm" loading="lazy" decoding="async" / eleventy:ignore>
    <p class="pad-top-lg">My mission is to do "good" creative work, but this is only achievable by rethinking what is important: putting
        people and the planet first.</p>
    <p>While my work is far from perfect, I use every project as an opportunity to shape the change I want to see in the
        world
        as I bring valuable ideas, solutions and enthusiasm to the table. That said, I refuse to work with big
        polluters and I don't partner with fossil fuel clients or those who are directly associated with the
        fossil fuel industry.</p>
    <p>I'm a member of <a href="https://www.creativesforclimate.co/" targert="_blank" rel="noopener noreferrer">Creatives for Climate</a>, a global network of creative industry workers using their skills to fight for the climate.</p>
</section>

<section class="cap-width pad-btt-md pad-top-lg">
    <h2>Where I work</h2>
    <figure class="pad-top-md">
        <img src="https://res.cloudinary.com/dax6x2pto/image/upload/c_lfill,w_1290,f_auto,q_auto/Pier_Head_lighthouse__Folkestone_3_qcuzty.webp"
            width="643" height="428" alt="the Folkestone harbour arm" loading="lazy" decoding="async" / eleventy:ignore>
        <figcaption class="small-like revert-color">
            <a href="https://commons.wikimedia.org/wiki/File:Pier_Head_lighthouse,_Folkestone_3.jpg" target="_blank"
                rel="noopener noreferrer" style="opacity: 0.6;">Source</a>&nbsp;<aside
                data-tooltip="Photography by Tim Sheerman-Chase">
                &#9432;</aside>
        </figcaption>
    </figure>
    <p class="pad-top-md">I operate globally on a GMT timezone, but I especially love working with people and teams in Folkestone, Kent,
        the South
        East, and London.</p>
    <p>While my work is primarily web design and email marketing for small businesses and creatives who've outgrown
        the DIY approach, when it comes to local opportunities, I'm also open to step into creative direction, SEO, or
        curatorial roles—providing there's a strong
        connection to the work.</p>
    <p>If you're a local business or individual and you're looking a fresh perspective and someone you can also talk to
        IRL, I've been waiting especially for you.</p>
    <a href="/contact/" class="button-like white-button pad-top-sm">Let's chat</a>
</section>