---
layout: _base.njk
title: Website consultations
description: Get feedback on your website in a professional consultation. Find issues, indentify missed opportunities, and get actionable advice.
permalink: '/consultations/'
---

{%- from "_cta.njk" import ctaSection -%}
<section class="pad-btt-md cap-width">
	<h2>Problems with your website?</h2>
	<p>Maybe you know what's broken and need validation. Or perhaps you sense something in your strategy, design or copy
		isn't working, but don't know what exactly. This budget-conscious mini consultation is the perfect place to
		start.</p>
	<p>Book dedicated time with an expert to <mark>understand what's working</mark>, <mark>what's not</mark>, and
		<mark>get actionable next steps</mark>.
	</p>
	<a href="https://cal.com/francescoimola/website-consultation" class="button-like white-button pad-top-sm"
		target="_blank" rel="noopener noreferrer">Book a consultation</a>
</section>

<section class="pad-btt-md cap-width separate-above pad-top-md">
	<h2>What you get</h2>
	<p>After I've reviewed your website, we'll meet to discuss the findings, and you can ask me any questions. Unless otherwise
	agreed, the consultation will cover the following areas:</p>

	<div class="two-by-grid pad-top-md">
		<div class="card">
			<h3 class=" small-like">1. Words & design</h3>
			<small>Pointers on how to improve your website design and copywriting, or how to better align these elements with
				your brand.</small>
		</div>

		<div class="card">
			<h3 class=" small-like">2. Technical & UX issues</h3>
			<small>Navigation problems, SEO basics, poorly sized media, and other snags that affect
				conversions, accessibility and site speed.</small>
		</div>

		<div class="card">
			<h3 class=" small-like">3. Missed opportunities</h3>
			<small>
				Ways to high particular services, better leverage testimonials, or whatever pertains to your particular
				case.
			</small>
		</div>

		<div class="card">
			<h3 class=" small-like">4. Recommendations</h3>
			<small>Best practices to follow, specific improvements to make, and affordable resources to leverage going
				forward.</small>
		</div>
	</div>
</section>


<section class="pad-btt-md cap-width pad-top-md">
	<h2>This is for you if</h2>
	<small>
		<ul class="plain-list pad-top-md">
			<li>Want to improve an existing site and need an expert to assess it, provide value,
				and let you get on with things.</li>
			<li>You have exciting plans for your website, but can't proceed because something
				about it overwhelms you.</li>
		</ul>
	</small>
</section>

<section class="pad-btt-md cap-width pad-top-md">
	<h2>Probably not for you if</h2>
	<small>
		<ul class="plain-list pad-top-md">
			<li>You have highly technical questions about your domain, database, hosting or website builder</li>
			<li>You don't already have a site and want to simply chat about ideas. <a
					href="https://cal.com/francescoimola/intro" target="_blank" rel="noopener noreferrer">Book a
					free intro</a> with me instead.</li>
		</ul>
	</small>
</section>

<section class="card pad-btt-md cap-width">
	<h2>What you get</h2>
	<p><strong>Get a mini website review and 1 hour of undisturbed time to discuss any particular issue with your
			website.</strong></p>

	<h3 class="pad-top-md">Book a slot on my calendar</h3>
	<p>Once you've booked your consultation on Cal.com at the link below, I'll send you a short questionnaire where you
		can provide me with your website url and detail any particular area of your site you'd like us to focus on
		(On-page SEO, User Experience, Interface, or something else entirely).</p>

	<h3 class="pad-top-md">Deep dive</h3>
	<p>Before the session, I will review your website to get a rounded idea of what you do, how you earn, what role your
		website plays, and what can be fixed or improved upon. I will focus my review on the area you told me you're
		struggling with the most.</p>

	<h3 class="pad-top-md">The session</h3>
	<p>We will start the session by reviewing your site (10–20 minutes). Then we can move on to discussing your business
		goals and how your website helps, or does not help, you to achieve them (20 minutes). This may involve touching
		on your wider marketing strategy. We will then plan next steps, and if applicable, I will introduce you to tools
		or tutorials that might be handy (20 minutes).</p>

	<h3 class="pad-top-md">After our chat</h3>
	<p>Sessions can be recorded so you can watch them back or share them with a colleague. You'll always receive a
		transcript of our conversation as well as documentation of all my findings and recommended next steps (delivered
		within 2-3 business days after our chat).</p>

	<div class="buttons-wrapper pad-top-lg">
		<a href="https://cal.com/francescoimola/consultation" class="button-like white-button" target="_blank"
			rel="noopener noreferrer">Book a consultation</a>
		<a href="/services/">See all services</a>
	</div>
</section>

<section class="card pad-btt-md cap-width">
	<h2>How to prepare for our consultation</h2>
	<p>Please share a link to your website when you make your booking.</p>
	<p>It also helps if you can share some background about your marketing and communications. These could be links to
		your social media, a lead magnet, your best-selling product, or even a document outlining your current approach.
		None of this is essential, but if you've got it handy, sharing it means we can dive straight into the good
		stuff.</p>
	<p>I know sharing all this beforehand can feel a bit exposing. If you're finding yourself putting off the prep work
		or feeling weird about it, that's normal. Sometimes the stuff we avoid points exactly where we need to focus. So
		if that's you, just turn up as you are. We'll figure it out together.</p>
</section>

{{ ctaSection(
"Ready for an expert review?",
"Book a consultation to get actionable feedback on your website, or schedule a free intro call if you want to discuss
your needs first.",
"Book a consultation",
"Schedule a free intro"
) }}