---
layout: _base.njk
title: Website consultations
description: Get feedback on your website in a professional consultation. Find issues, indentify missed opportunities, and get actionable advice.
permalink: '/consultations/'
---

{%- from "_cta.njk" import ctaSection -%}
<section class="pad-btt-md cap-width">
    <h2>Problems with your website?</h2>
        <p>Booking a consultation is the fastest way to get clarity on what's holding your website back and what to do
        about it. You get a <mark>targeted website review</mark> and <mark>1 hour of dedicated consultation time</mark> to discuss findings, ask
        questions, and get helpful recommendations.</p>
    <a href="https://cal.com/francescoimola/website-consultation" class="button-like pad-top-sm"
        target="_blank" rel="noopener noreferrer">Book a consultation</a>
</section>

<section class="pad-btt-md cap-width separate-above ">
    <h2>What can we cover?</h2>
    <p>Maybe you know what's broken and need validation. Or you sense something isn't working, but don't know
        what exactly. A consultation gives you clarity in both cases. These are the areas we'll typically cover:</p>

    <div class="two-by-grid pad-top-md">
        <div class="card">
            <h3 class=" small-like">1. Words & design</h3>
            <small>Pointers on how to improve your website design and copywriting, or how to better align these elements
                with
                your brand.</small>
        </div>

        <div class="card">
            <h3 class=" small-like">2. Technical & UX issues</h3>
            <small>Navigation problems, SEO basics, poorly sized media, and other snags that affect
                conversions, accessibility and site speed.</small>
        </div>

        <div class="card">
            <h3 class=" small-like">3. Missed opportunities</h3>
            <small>
                Ways to highlight particular services, better leverage testimonials, or whatever pertains to your
                particular
                case.
            </small>
        </div>

        <div class="card">
            <h3 class=" small-like">4. Recommendations</h3>
            <small>Improvements to consider, where to focus your efforts, and additional resources to leverage going forward.</small>
        </div>
    </div>
</section>

<section class="cap-width pad-btt-md" aria-label="Trusted by">
    <h2>People who trusted my advice</h2>
    <div class="logo-grid">
        <div role="img" class="card" aria-label="Make and Mind">{% include "_icons/_makemind.njk" %}</div>
        <div role="img" class="card" aria-label="The Collective">{% include "_icons/_thecollective.njk" %}</div>
        <div role="img" class="card" aria-label="Blueberry">{% include "_icons/_blueberry.njk" %}</div>
    </div>
    <section class="card pad-top-sm">
        <p class="small-like">"Francesco provided excellent tech support and reassurance for a web project. Very easy to work with."</p>
        <br>
        <div class="small-like">
            <strong class="small-like">Liv Pennington</strong>
            <p class="small-like"><a href="https://www.livpennington.com/" target="_blank" rel="noopener noreferrer">Artist
                    and Arts Programmer</a>
            </p>
        </div>
    </section>
</section>

<section class="pad-btt-md cap-width separate-above">
    <h2>Investment</h2>
    <p>How much would it cost to know exactly where your website is falling short? Or to get guidance that saves you months of trial and error? The insights are hard to price. The consultation isn't.
    </p>
    <p><mark>£225</mark></p>
    <p>That's the price I believe is standing between you and a site that's more aligned with your goals. A site that speaks to your people, draws them in, and ensures your name stands out from the rest.
    </p>
    <a href="https://cal.com/francescoimola/website-consultation" class="button-like pad-top-sm"
        target="_blank" rel="noopener noreferrer">Book now</a>
</section>


<section class="pad-btt-md cap-width separate-above">
    <h2>Is this for me?</h2>
    <p class="pad-top-sm">Great question. <mark>This is for you...</mark></p>
    <table class="inner-borders pad-top-sm">
        <tbody>
            <tr>
                <td>✅</td>
                <td>If you're looking to grow and have exciting plans for your website, but can't proceed because
                        something about it overwhelms you.</td>
            </tr>
            <tr>
                <td>✅</td>
                <td>If you want to improve an existing site, but first you need an expert to assess it, provide you with valuable insights, and let you get on.</td>
            </tr>
        </tbody>
    </table>
    <p class="pad-top-lg">And <mark>probably not for you...</mark></p>
    <table class="inner-borders pad-top-md">
        <tbody>
            <tr>
                <td>❌</td>
                <td>If you have highly technical questions about your CMS, analytics, hosting, advertising strategy, or website builder.</td>
            </tr>
            <tr>
                <td>❌</td>
                <td>If you don't already have a site and want to simply chat about ideas. It's better to <a
                    href="https://cal.com/francescoimola/intro" target="_blank" rel="noopener noreferrer">book a free
                    intro</a> with me instead.</td>
            </tr>
        </tbody>
    </table>
</section>

<section class="pad-btt-md cap-width">
    <siv class="flex-between">
        <h2>FAQs</h2>
        <a href="/faqs/">Browse general questions</a>
    </siv>
    <div class="faq-accordion pad-top-md">
        <details class="faq-item">
            <summary class="faq-question">
                <span class="faq-number">1.</span>
                <span class="faq-text">Will it be a long process?</span>
            </summary>
            <div class="faq-answer">
                <p>This is a pretty straightforward website health check for busy people who want answers quickly
                    without unnecessary admin. Besides the actual meeting, I just need 5 minutes of your time to
                    complete a short questionnaire which I'll send to you immediately after booking.</p>
            </div>
        </details>

        <details class="faq-item">
            <summary class="faq-question">
                <span class="faq-number">2.</span>
                <span class="faq-text">How thorough is the website review?</span>
            </summary>
            <div class="faq-answer">
                <p>Before the session, I will spend up to 4 hours auditing your website to get a rounded idea of what it
                    is doing well and what needs work. I will focus my review on the area
                    you told me you're struggling with the most (e.g. SEO, UX, UI, or something else).</p>
            </div>
        </details>

        <details class="faq-item">
            <summary class="faq-question">
                <span class="faq-number">4.</span>
                <span class="faq-text">Can we record the session?</span>
            </summary>
            <div class="faq-answer">
                <p>Of course. Sessions can be recorded so you can watch them back or share them with a colleague. You
                    can also opt to receive a transcript of our conversation, and a summary of all my findings
                    (delivered within 3-5 business days).</p>
            </div>
        </details>
        <details class="faq-item">
            <summary class="faq-question">
                <span class="faq-number">5.</span>
                <span class="faq-text">Do you guarantee results?</span>
            </summary>
            <div class="faq-answer">
                <p>No, and you should be wary of anyone who does. I'll give you honest advice based on my experience and
                    the research I'll do. But since every situation is different, you'll ultimately decide which
                    suggestions make sense for you. Think of it like a consultation with a personal trainer: you're
                    paying for their experience and advice, not a
                    guarantee you'll agree with their fitness plan.</p>
            </div>
        </details>
        <details class="faq-item">
            <summary class="faq-question">
                <span class="faq-number">6.</span>
                <span class="faq-text">What if I need to cancel?</span>
            </summary>
            <div class="faq-answer">
                <p>Life happens. You can cancel free of charge up to 72 hours before the session. After that, no refunds
                    are
                    available, as I'll have already invested time reviewing your website. If you need to reschedule with
                    less
                    than 24 hours notice, I'm always happy to find another if my calendar allows.</p>
            </div>
        </details>
    </div>
</section>

<div class="pad-btt-md">
    {{ ctaSection(
    "Start seeing real improvements",
    "Book a consultation to finally see what's holding your website back and what to do about it—from quick wins to
    big-picture improvements.",
    "Book a consultation",
    "",
    "https://cal.com/francescoimola/website-consultation",
    "https://cal.com/francescoimola/intro"
    ) }}
</div>