---
layout: _base.njk
title: Contact
description: Let's make something together. Email me or book a free call. Based in Folkestone, I work with creatives and businesses across the UK and beyond.
permalink: "/contact/"
navtitle: Contact
signup: true
---

<section class="pad-btt-md cap-width">
    <h2>Let's talk</h2>
    <p>Ready to talk business? Want to discuss an idea? Forgot to say hi at an event? Long-lost friend looking to catch
        up?</p>
    <div class="two-by-grid pad-top-lg">
        <p><mark>Speak to me directly</mark></p>
        <p><a href="https://cal.com/francescoimola/intro" target="_blank" rel="noopener noreferrer">Book a free
                meeting</a></p>
    </div>
        <div class="two-by-grid pad-top-lg">
            <p><mark>Or send me an email</mark></p>
            <p>hi@francescoimola.com</br>
                <a href="mailto:hi@francescoimola.com">Copy address</a>
            </p>
        </div>
    
        <div class="two-by-grid pad-top-lg pad-btt-md">
            <p><mark>Not sure what to say?</mark></p>
            <div>Here's a template to get started:
                <article
                    class="card sample-email pad-top-md">
                   <p>
                        My name is <em>Kiara</em>, and I'm a <em>Marketing Director</em> at <em>Company</em>. I found you through <em>place, person, or thing</em>, and love the work you did on <em>your favourite project</em>.
                   </p>
                <p>
                    I'd love to hire you to help us with <em>website</em> so we can <em>business goal</em>. Our timeline looks like
                    <em>dates</em> and we'd like to keep the price about <em>$3k</em> (<em>with room up to $8k if we can make a solid
                        business case for it</em>).
                </p>
                    
                    <p>
                        Full disclosure: I'm talking with a few other agencies like <em>these folks</em>. Let's set up a time to talk shop. How does next week look for you?
                        Thank you!
                    </p>
                </article>
            </div>
        </div>
</section>