---
layout: _base.njk
title: Francesco Imola | Web designer & Creative Marketer in Kent
description: I help small businesses, freelancers and creatives drive long-term growth with futureproof websites, UX copy, email marketing and strategic consultations.
permalink: '/'
navtitle: Home
signup: true
---

{%- from "_selected-work-card.njk" import selectedWorkCard -%}
{%- from "_cta.njk" import ctaSection -%}

<div id="marquee" class="cap-width">
	<span><b>nevernotready.club</b> is now → <b>francescoimola.com</b></span>
</div>
<div class="secondary-header pad-btt-lg pad-top-md cap-width">
	<h1>Delightful things with pixels and words for people with <span
			class="green-text">something to say</span>, not just something to sell.</h1>
</div>

<section class="cap-width pad-btt-md">
	<figure>
		<img src="https://res.cloudinary.com/dax6x2pto/image/upload/c_lfill,w_320,f_auto,q_auto/francesco_kngh32.webp"
			width="158" height="158" alt="close up of Francesco" loading="lazy" decoding="async" fetchpriority="high"
			as="image" / eleventy:ignore>
		<figcaption>
			<aside data-tooltip="Photography by Amy Louise Kolsteren">
				&#9432;</aside>
		</figcaption>
	</figure>
	<h2 class="pad-top-lg">Hello! I'm Francesco<sup>&nbsp;(he/him)</sup></h2>
	<p>I'm a designer, marketer and cultural worker. After spending the best part of a decade helping to platform
		emerging talent, I now partner with small businesses and artists to work on their website and all that goes with
		it.</p>
	<div class="pad-top-md buttons-wrapper"><a class="button-like" href="https://cal.com/francescoimola/intro"
			target="_blank" rel="noopener noreferrer">Book an intro call</a>
		<button-sibling class="light">or keep browsing <span
				class="solar--arrow-to-down-left-bold"></span></button-sibling>
	</div>
</section>

<div class="separate-above">
	{{ selectedWorkCard(
	"Explore selected projects"
	) }}
</div>

<section class="pad-btt-md cap-width">
	<div class="flex-between">
		<h2>Where I can help</h2>
		<a href="/services/">See what I do best</a>
	</div>
	<p>Guided by creativity and countless hours devoted to helping ambitous people and teams overcome their clunky
		online presence, I create thoughtful online experiences that age like good wine and stay easy to maintain.</p>
	<div class="two-by-grid pad-top-lg pad-btt-sm">
		<section class="card span-2">
			<h3>Website design and no-code development</h3>
			<p class="small-like">Get a snappy, no-nonsense website that looks the part—but with none of the endless
				back-and-forth, long retainers or agency overheads.
			</p>
			<ul class="list-subgrid">
				<li><span class="small-like">Responsive web design</span></li>
				<li><span class="small-like">Website copywriting</span></li>
				<li><span class="small-like">UX, UI & SEO fundamentals</span></li>
				<li><span class="small-like">Framer & Webflow builds</span></li>
			</ul>
		</section>

		<section class="card">
			<h3>Email marketing</h3>
			<p class="small-like">I build the foundations to help you capture, engage and retain new subscribers in the
				simplest way possible.</p>
			<ul class="list-subgrid">
				<li><span class="small-like">List & Platform setup</span></li>
				<li><span class="small-like">Nurturing sequences</span></li>
				<li><span class="small-like">Automated workflows</span></li>
				<li><span class="small-like">Template design</span></li>
			</ul>
		</section>
		<section class="card">
			<h3>Strategy</h3>
			<p class="small-like">I lead you out the labyrinth of chaotic marketing and help you open new doors for your
				audience to walk through.</p>
			<ul class="list-subgrid">
				<li><span class="small-like">Website consultations</span></li>
				<li><span class="small-like">User journey mapping</span></li>
				<li><span class="small-like">Creative direction</span></li>
				<li><span class="small-like">Workflow optimisation</span></li>
			</ul>
		</section>
	</div>
</section>

{%- include "_testimonials.njk" -%}

<section class="pad-btt-md cap-width">
	<h2>Who is my work for</h2>
	<div class="two-by-grid pad-top-md center-contents">
		<section class="card">
			<div>{%- include "_icons/_freelancer.svg" -%}</div>
			<p><strong>Freelancers and solopreneurs</strong> who value honest communication over growth hacks.</p>
		</section>
		<section class="card">
			<div>{%- include "_icons/_small-biz.svg" -%}</div>
			<p><strong>Small businesses and social enterprises</strong> who need top work without the agency markup.</p>
		</section>
		<section class="card">
			<div>{%- include "_icons/_artist.svg" -%}</div>
			<p><strong>Makers, artists and creators</strong> who've wasted enough time DIYing their marketing.</p>
		</section>
		<div class="center-contents">
			{{ ctaSection(
			"Is this you?",
			"Let’s discuss your next project and see if we're a good fit in a free, 30-min intro call.",
			"Book a free intro",
			false
			) }}
		</div>
	</div>
</section>

{% if collections.blog | length > 0 %}
{%- include "_blog-showcase.njk" -%}
{% endif %}