---
layout: _base.njk
title: Francesco Imola | Web designer & Creative Marketer in Kent
description: I help small businesses, freelancers and creatives drive long-term growth with futureproof websites, UX copy, email marketing and strategic consultations.
permalink: '/'
navtitle: Home
---
{%- from "_cta.njk" import ctaSection -%}
{%- from "_selected-work-card.njk" import selectedWorkCard -%}

<div class="intro-wrapper">
	<div class="secondary-header pad-btt-lg">
		<h1 class="cap-width-sm">Delightful things with pixels and words for people who love what they do. Made by <span
				class="green-text">{{ site.name }}</span> from a seaside town in Kent.</h1>
		{% include "_links.njk" %}
	</div>

	<section class="cap-width pad-btt-md">
		<img src="https://res.cloudinary.com/dax6x2pto/image/upload/c_lfill,w_320,f_auto/dpr_auto/francesco_kngh32.webp"
			width="160" height="160" alt="close up of Francesco" loading="lazy" decoding="async" fetchpriority="high"
			as="image" />
		<h2 class="pad-top-lg">Hello, I'm Francesco (he/him)</h2>
		<p>I'm a designer, marketer, and cultural
			worker based in Folkestone, Kent. I spent the best part of a decade helping to platform emerging talent. Now
			I partner with small businesses, solopreneurs and artists to work both in and on their marketing.</p>
		<div class="pad-top-md buttons-wrapper"><a href="/contact" class="button-like">Let's talk</a>
			<button-sibling class="light">or keep browsing</button-sibling>
		</div>
	</section>
</div>

{{ selectedWorkCard(
"Explore selected projects"
) }}

<section class="pad-btt-md cap-width">
	<h2>Where I can help</h2>
	<p>For fear of acknowledging that marketing is not hard science, marketers and designers can make their work sound
		very mysterious. I like to keep it simple.</p>
	<p>I help you create systems that don't eat your life. The kind that run while you sleep, age like good wine and
		never ask you to dance for an algorithm. It's the marketing that lets you get on with it.</p>
			<div class="two-by-grid pad-top-lg">
				<card class="give-bkg">
					<h3>Web design</h3>
					<p class="small-like">I design, write and build lightweight websites that look the part and will never lead you down a dead end.
					</p>
					<ul class="list-subgrid">
							<li><span class="small-like">Responsive web design</span></li>
							<li><span class="small-like">Website copywriting</span></li>
							<li><span class="small-like">UX, UI & SEO fundamentals</span></li>
							<li><span class="small-like">Framer & Webflow builds</span></li>
					</ul>
				</card>

				<card class="give-bkg">
					<h3>Email marketing</h3>
					<p class="small-like">I build the foundations to help you capture and retain new email subscribers in the simplest way possible.</p>
					<ul class="list-subgrid">
						<li><span class="small-like">List & Platform setup</span></li>
						<li><span class="small-like">Nurturing sequences</span></li>
						<li><span class="small-like">Automated workflows</span></li>
						<li><span class="small-like">Template design</span></li>
					</ul>
				</card>
				<card class="give-bkg">
					<h3>Strategy</h3>
					<p class="small-like">I help shape no-BS customer journeys and marketing operations by helping you exit the labyrinth of messy marketing.</p>
					<ul class="list-subgrid">
						<li><span class="small-like">Website consultations</span></li>
						<li><span class="small-like">User journey mapping</span></li>
						<li><span class="small-like">Creative direction</span></li>
						<li><span class="small-like">Workflow optimisation</span></li>
					</ul>
				</card>

				<card class="give-bkg">
					<h3>In-team collaboration</h3>
					<p class="small-like">For a month, a season, or year, I can step into your team as a creative marketer on contract to help you level up your marketing efforts.</p>
					<ul class="list-subgrid">
						<li><span class="small-like">Workshops</span></li>
						<li><span class="small-like">Brainstorming sessions</span></li>
						<li><span class="small-like">Admin & ad-hoc support</span></li>
						<li><span class="small-like">Any service mentioned previously</span></li>
					</ul>
				</card>
			</div>
</section>

<section class="pad-btt-md cap-width">
	<h2>Who is my work for</h2>
	<p>My work is for small businesses and freelancers who want clean, standout design without the agency overheads. If you appreciate moving fast, avoiding the endless back and forth, and you see marketing as a tool for genuine connection over exploitation, we’ll probably get along.
	</p>
</section>


{%- include "_testimonials.njk" -%}

<figure class="pad-btt-md separate-above cap-width">
	<img src="https://res.cloudinary.com/dax6x2pto/image/upload/c_lfill,w_1290,f_auto/dpr_auto/dither_it_Pacioli_g8pabn.webp"
		width="645"
		height="363"
		class="give-bkg"
		alt="folks directory website"
		loading="lazy"
		decoding="async" />
</figure>

<section class="pad-btt-md cap-width">
	<h2>About me</h2>
	<p>I'm a designer at heart, although you can often find me building bridges across the murky waters of marketing, art, and creating resources for the public good.</p>
	<p>I've previously worked with teams from <a href="https://www.gre.ac.uk/las/design" target="_blank" rel="noopener">University of Greenwich</a>, <a href="https://www.seatingplan.com/" target="_blank" rel="noopener">Mega Seating Plan</a>, and <a href="https://blueberrycreatives.co.uk/" target="_blank" rel="noopener">Blueberry</a>, in both B2B and B2C environments. In this lifetime, I've also been a music producer, exhibition curator, visual artist, social media manager, photographer, runner, barista, and <a href="/playground">many other things</a>.</p>
	<p>These days, I partner with people who want to do good and do it well. I help them solve problems, usually connected with their website, digital operations, or inbound marketing strategy. </p>
	<p>Mind you, I'm no specialist.</p>
	<p>Where specialists see websites, emails, marketing strategy and operations as separate problems, I can see the whole mess because I'm not stuck in one corner of it. And I can help you untangle it with good copy and design.
	</p>
</section>

{{ ctaSection(
"Wanna stop scrolling? ",
"Let me take it from here. Book a free call to tell me about your project.",
"Book a free intro"
) }}

<section class="pad-btt-md cap-width ">
	<h2>Planet-aware design</h2>
	<p>There is a better way to do this work: rethink what is important and put people and the planet first.</p>
	<p>My mission is to do good creative work, but "good" creative work is only achievable by refusing to work with big polluters. This is why I don't partner with fossil fuel clients or those who are directly associated with the fossil fuel industry.</p>
	<p>My work isn't perfect, but I use every project as an opportunity to shape the change I want to see in the world while bringing valuable ideas, solutions and enthusiasm to the table.</p>
</section>


<figure class="pad-btt-md separate-above cap-width">
	<img src="https://res.cloudinary.com/dax6x2pto/image/upload/c_lfill,w_1290,f_auto/dpr_auto/Pier_Head_lighthouse__Folkestone_3_qcuzty.webp"
		width="645" height="363" alt="the Folkestone harbour arm" loading="lazy" decoding="async" />
	<figcaption class="simple-sb-flex"><small class="light">My actual Zoom background</small><a
			href="https://commons.wikimedia.org/wiki/File:Pier_Head_lighthouse,_Folkestone_3.jpg" target="_blank"
			rel="noopener"><small class="light">Tim Sheerman-Chase, Source</small></a>
	</figcaption>
</figure>

<section class="cap-width pad-btt-md">
	<h2>Where I work</h2>
	<p>I operate globally on a GMT timezone, but I especially love working with people and teams in Kent, the South
		East, and London.</p>
	<p>While most of my local work is web design and email marketing for small businesses and creatives who've outgrown
		the DIY approach, I'm also open to step into creative direction, SEO, or curatorial roles if I'm particularly
		connected to the work.</p>
	<p>If you're a business or creative based in Folkestone or the surrounding areas, and you're looking for help, a
		fresh perspective, and someone you can also talk to IRL, I've been waiting especially for you.</p>
	<a href="/contact/" class="button-like white-button pad-top-sm">Get in touch</a>
</section>

{% include "_signup-form.njk" %}

{% if collections.blog | length > 0 %}
<section class="separate-above">
	{%- include "_blog-showcase.njk" -%}
</section>
{% endif %}


<div id="rebrand-modal" class="modal">
	<div>
		<p>This site was formerly <b>nevernotready.club</b> and it is now <b>francescoimola.com</b></p>
		<p>Same work, same person, I'm just finally online under my own name.</p>
		<button onclick="closeModal()" type="button">Makes sense, lemme in</button>
	</div>
</div>