---
layout: _base.njk
title: Selected design and marketing projects
description: These people got too good for their old marketing. Thankfully, they eventually recognised it and decided to hire me.
permalink: '/portfolio/'
navtitle: Portfolio
---

{%- from "_cta.njk" import ctaSection -%}
{%- from "_project-card.njk" import projectCard -%}

<section class="pad-btt-md cap-width">
	<h2>Good work for people who care</h2>
  <p>Over the last half decade, I've helped B2B, B2C and public-sector teams <mark>run campaigns</mark> they never had time for, <mark>refresh their website</mark> without headaches, and <mark>build marketing back-ends</mark> that wouldn't collapse if busy. This page gathers the highlights.</p>
  <a href="/contact/" class="button-like white-button pad-top-sm">Tell me about your project</a>
</section>

<section class="projects-showcase pad-btt-lg separate-above">
      {{ projectCard(
      role = "Website design, writing & creative direction",
      description = "With impactful art classes and top reviews, this workshop host had everything going for them, but their site wasn't telling that story. Until I gave it a complete overhaul. Launching in early 2026.",
      image = {
        src: "https://res.cloudinary.com/dax6x2pto/image/upload/c_lfill,w_685,f_auto,q_auto/make_and_mind_website_mockup_nnlbuj.png",
        alt: "work-in-progress mockups of the Make & Mind website",
        width: "686",
        title: "Make & Mind"
      }
    )}}
    {{ projectCard(
      image = {
        src: "https://res.cloudinary.com/dax6x2pto/image/upload/c_lfill,w_685,f_auto,q_auto/folks_okskqh.png",
        alt: "folks directory website screenshot",
        title: "Folks Directory"
      },
      role = "Web design & community management",
      description = "Bootstrapping a free, public directory of all the creatives in Folkestone, Kent: a community-driven project that helps local creative people find and support each other."
    ) }}
      {{ projectCard(
      role = "SEO writing",
      description = "Wrote SEO content that connected teachers with software that saved them
        hours of prep time, all while boosting search rankings and
        solidifying the app's reputation as a top-rated product.",
      image = {
        src: "https://res.cloudinary.com/dax6x2pto/image/upload/c_lfill,w_685,f_auto,q_auto/v1745572369/msp_nnncta.png",
        alt: "a Mega Seating Plan blog post showing up in the first page of Google",
        title: "Mega Seating Plan"
      }
    ) }}

      {{ projectCard(
      role = "UX and content writing",
      description = "Turned the website of a holistic coach from a wordy Google Doc into an SEO-ready business card that got her practice moving forward with ease, all while being super simple to update.",
      image = {
        src: "https://res.cloudinary.com/dax6x2pto/image/upload/c_lfill,w_685,f_auto,q_auto/v1745571992/sarah_ql5qiz.png",
        alt: "screenshot of Sarah Yuk Lan Brown's website alongside an extract of my writing",
        title: "Sarah Yuk Lan Brown"
      }
    ) }}

      {{ projectCard(
      role = "Marketing & Comms Lead",
      description = "Kept the marcomms department on track through a rocky few years. Top moments saw me project managing a full website redesign and cutting yearly costs by 1/3 without a compromise.",
      image = {
        src: "https://res.cloudinary.com/dax6x2pto/image/upload/c_lfill,w_685,f_auto,q_auto/v1745841665/blueberry_website_kdo3jw.png",
        alt: "screeenshot of Blueberry's new website",
        title: "Blueberry"
      }
    ) }}

      {{ projectCard(
      image = {
        src: "https://res.cloudinary.com/dax6x2pto/image/upload/c_lfill,w_685,f_auto,q_auto/blueberry_emails_y93apo.png",
        alt: "screenshot of a newsletter edition alongside screenshot of subject line in an inbox",
        title: "Blueberry"
      },
      role = "Email marketing",
      description = "Redesigned, launched and regularly wrote two of Blueberry's newsletters, each offering bite-sized creative inspiration with a handpicked selection of talents, projects and trends."
    ) }}

      {{ projectCard(
      image = {
        src: "https://res.cloudinary.com/dax6x2pto/image/upload/c_lfill,w_685,f_auto,q_auto/v1745572127/tedx_greenwich_hqmpqe.png",
        alt: "screenshot of the TEDx Universty Greenwich 2019 website",
        title: "TEDx University of Greenwich"
      },
      role = "Landing page design",
      description = "In only a few days from the big day, I built a fully-responsive landing page for TEDx Greenwich that simplified the attendee
        experience and gave everyone a clear snapshot of the programme."
    ) }}

      {{ projectCard(
      image = {
        src: "https://res.cloudinary.com/dax6x2pto/image/upload/c_lfill,w_685,f_auto,q_auto/v1746050373/uog_ftv_marketing_dym5lo.png",
        alt: "selection of pr stories, social media posts, and industry updates I created for the University of Greenwich",
        title: "University of Greenwich"
      },
      role = "Content design & event facilitation",
      description = "Kept the spirit alive for students during COVID and elevated the reputation of the Greenwich Film & TV programmes through targeted industry
        updates, social media content, and PR stories."
    ) }}

      {{ projectCard(
      image = {
        src: "https://res.cloudinary.com/dax6x2pto/image/upload/c_lfill,w_685,f_auto,q_auto/greenwich_galleries_design_g7uxs1.png",
        alt: "poster for an exhibition at the University of Greenwich Galleries",
        title: "University of Greenwich Galleries"
      },
      role = "Communication design",
      description = "Designed and co-edited comms material for the University of Greenwich Galleries, including posters, social media posts, and press releases, to widen the reach of our exhibitions and events."
    ) }}
    </section>

<section class="pad-btt-lg invert-bg green-bg full-screen">
	<h2 class="as-h1">Like what you see?</h2>
  <p class="as-h1" id="there-is-more">There's more where that came from</p>
	<div class="buttons-wrapper pad-top-md">
		<a href="https://cal.com/francescoimola/intro" class="button-like white-button" type="button" target="_blank" rel="noopener noreferrer">Book a free intro</a>
	</div>
  <small class="pad-top-md">30-min chat about what I can do for you</small>
  <small><a href="mailto:hi@francescoimola.com">Copy email instead</a></small>
</section>
