---
layout: _base.njk
title: Services | Websites, Email Marketing and Copywriting
description: No-BS websites and email marketing that stand the test of time. Services include copywriting, Webflow & Framer development, and website consultations.
permalink: '/services/'
navtitle: Services & Pricing
---
{%- from "_cta.njk" import ctaSection -%}
{%- from "_selected-work-card.njk" import selectedWorkCard -%}

<!-- Website Consulting Sessions -->
<card id="consulting" class="service-card give-bkg rounded">
  <service-card__header style="margin-bottom: -0.33rem;">
    <h2>Website consultation</h2>
    <span class="service-icon streamline-freehand--conversation-question-text-1"></span>
  </service-card__header>
  <service-card__body>
    <p>Undistracted time to talk about any challenges with your website. We always start with reviewing your site, and can move on onto discussing your goals, assessing if your strategy aligns with your values, planning next steps, brainstorming, or introducing you to helpful tools.</p>
    <div class="pricing-grid">
      <div class="pricing-row pricing-header">
        <span>Sessions</span>
        <span>Investment</span>
      </div>
      <div class="pricing-row">
        <span>One session</span>
        <span>£225</span>
      </div>
      <div class="pricing-row">
        <span>Three sessions</span>
        <span>£595</span>
      </div>
    </div>
    <p><br>Each session is 1 hour and includes a 1:1 chat, a pre-session deep dive, a website review, and follow-up notes.</p>
  </service-card__body>
</card>

<!-- Website Design & Copywriting -->
<card id="website-design" class="pad-top-md service-card give-bkg rounded">
  <service-card__header style="margin-bottom: -0.5rem;">
    <h2>Web Design, Writing & Development</h2>
    <span class="service-icon streamline-freehand--website-development-build"></span>
  </service-card__header>
  <service-card__body>
    <p>Get a futureproof, intuitive website built to guide people, not send them going around in circles. It'll load fast. It'll work on every device. And it'll be stupid easy to update yourself—if you wish so.</p>
    <div class="pricing-grid pad-top-md">
      <div class="pricing-row pricing-header">
        <span>What you get</span>
        <span>Investment (from)</span>
      </div>
      <div class="pricing-row">
        <span>Full website with CMS</span>
        <span>£3,500</span>
      </div>
      <div class="pricing-row">
        <span>Static 2-6 page site</span>
        <span>£2,500</span>
      </div>
      <div class="pricing-row">
        <span>One-pager</span>
        <span>£600</span>
      </div>
    </div>
    <p><br>Copywriting and SEO basics are always included. Websites are built either on Framer or Webflow. Each project includes one revision, with more available for an additional fee. You'll get an exact quote before we start.</p>
  </service-card__body>
</card>

<!-- Email Marketing -->
<card id="email-marketing" class="pad-top-md service-card give-bkg rounded">
  <service-card__header style="margin-bottom: -0.33rem;">
    <h2>Email marketing</h2>
    <span class="service-icon streamline-freehand--send-email-paper-plane-1"></span>
  </service-card__header>
  <service-card__body>
    <p>A solid email strategy is the backbone of your marketing. It gets your message right to your audience AND you can automate (most) of it in the background while you focus on more important work. I can set a system up for you or audit your existing setup and recommend improvements.</p>
    <div class="pricing-grid">
      <div class="pricing-row pricing-header">
        <span>What you get</span>
        <span>Investment</span>
      </div>
      <div class="pricing-row">
        <span>List & Welcome Campaign set-up</span>
        <span>£300</span>
      </div>
      <div class="pricing-row">
        <span>Performance Audit + Strategy Session</span>
        <span>£400</span>
      </div>
    </div>
    <p><br>Template design, multi-step nurture sequences, and list maintenance are available for a custom fee.</p>
  </service-card__body>
</card>

<!-- Do-it-Together Sessions -->
<card id="do-it-together" class="pad-top-md pad-btt-md service-card give-bkg rounded">
  <service-card__header style="margin-bottom: -0.5rem;">
    <h2>Do-it-together sessions</h2>
    <span class="service-icon streamline-freehand--clap"></span>
  </service-card__header>
  <service-card__body>
    <p>Group body-doubling sessions to work two-by-grid-side, focus, and make progress in a supportive environment. Perfect for tackling tasks like website updates, email writing, or business admin.</p>
    <div class="pricing-grid">
      <div class="pricing-row pricing-header">
        <span>Upcoming sessions</span>
        <span>Investment</span>
      </div>
      <div class="pricing-row">
        <span>TBC</span>
        <span>(sliding scale) £5-20</span>
      </div>
    </div>
    <p class="pad-top-md">Sessions are currently being planned. Subscribe to our Luma page to be notified when we launch.</p>
    <a href="https://luma.com/productiveish" target="_blank" rel="noopener" class="button-like pad-top-sm">Subscribe on Luma</a>
    </service-card__body>
</card>

{{ ctaSection(
	"Ready to get started?",
	"Let's schedule a no-pressure half-hour chat (online or IRL) to discuss your challenges, goals, and how I can help. Two clicks is all it takes.",
	"Book our intro chat"
) }}

<section class="pad-top-md pad-btt-md">
    <h2>How do we work together?</h2>
     <p>I'll untangle all those messy figure-eight knots in your marketing and strip away what's not working. Then together, we'll lay new foundations and build what needs building to drive long-term growth.</p>
     <p>All services (except for do-it-together sessions) start with a free no-obligation introductory call and end with a clear plan for implementation.</p>
     <a href="/how-i-work/" class="button-like white-button pad-top-sm">Here's what to expect</a>
</section>

<!-- Payment Information -->
<section class="pad-top-md pad-btt-md">
  <h2>Are prices flexible?</h2>
  <p>Sessions are priced as shown. Website and email projects are estimates, with the final cost depending on scope, timeline, and level of client involvement. You'll get an exact quote before we start.</p>
  <p>I offer <a href="/faqs/#concessions">non-stackable discounts</a> on payment terms to everyone.</p>
</section>

{{ selectedWorkCard(
	"See what I was trusted to make"
) }}