---
layout: _base.njk
title: Services | Websites, Email Marketing and Copywriting
description: No-BS websites and email marketing that stand the test of time. Services include copywriting, Webflow & Framer development, and website consultations.
permalink: '/services/'
navtitle: Services & Pricing
---

{%- from "_cta.njk" import ctaSection -%}
{%- from "_selected-work-card.njk" import selectedWorkCard -%}

<section class="pad-btt-md cap-width">
	<h2>Websites, and all that goes with them</h2>
    	<p>I'll take care of nearly everything that intersects with your website: from design to words to emails and your wider marketing strategy. My expertise lies in offering accessible experiences and trust-based marketing. I play the long game.
        </p>
</section>

<div class="separate-above"></div>

<!-- Website Design & Copywriting -->
<section id="website-design" class="pad-top-md service-card">
  <service-card__header style="margin-bottom: -0.5rem;">
    <h2>Web Design, Writing & Development</h2>
    <span class="service-icon streamline-freehand--website-development-build"></span>
  </service-card__header>
  <service-card__body>
    <p>Get a futureproof, intuitive website built to guide people, not send them going around in circles. It'll load fast. It'll work on every device. And it'll be stupid easy to update yourself—if you wish so. Copywriting and SEO basics are always included.</p>
    <div class="pricing-grid pad-top-md">
      <div class="pricing-row pricing-header">
        <span>What you get</span>
        <span>Investment (from)</span>
      </div>
      <div class="pricing-row">
        <div><span>Full website with CMS</span><aside data-tooltip="Ideal for established clients looking to post regular content">&#9432;</aside></div>
        <span>£3,500</span>
      </div>
      <div class="pricing-row">
        <div><span>Static 2-6 page site</span><aside data-tooltip="Perfect option for anyone who needs to be visible online">&#9432;</aside></div>
        <span>£2,500</span>
      </div>
      <div class="pricing-row">
        <div>
          <span>One-pager</span><aside data-tooltip="Easiest website to look after: best for craftspeople, artists or service providers">&#9432;</aside>
        </div><span>£600</span>
      </div>
      <div class="pricing-row">
        <div>
          <span>+ SEO Audit</span><aside data-tooltip="I audit your site to guide the design process, then audit it again to ensure we've met our goals">&#9432;</aside>
        </div><span>£300</span>
      </div>
    </div>
    <small class="light pad-btt-sm"><br>My tools of choice are Framer or Webflow, but I can adapt to other solutions. One revision is always included, with more available for a custom fee. You'll get a quote before we start.</small>
  </service-card__body>
</section>

<!-- Email Marketing -->
<section id="email-marketing" class="pad-top-md service-card">
  <service-card__header style="margin-bottom: -0.33rem;">
    <h2>Email marketing</h2>
    <span class="service-icon streamline-freehand--send-email-paper-plane-1"></span>
  </service-card__header>
  <service-card__body>
    <p>A solid email strategy is the backbone of your marketing. It gets your message right to your audience AND you can automate (most) of it in the background while you focus on more important work. I can set a system up for you or audit your existing setup and recommend improvements.</p>
    <div class="pricing-grid">
      <div class="pricing-row pricing-header">
        <span>What you get</span>
        <span>Investment (from)</span>
      </div>
      <div class="pricing-row">
        <div><span>List & Welcome Campaign set-up</span><aside data-tooltip="I love working with Mailerlite, Loops and Mailchimp, but I can adapt to other platforms">&#9432;</aside></div>
        <span>£300</span>
      </div>
      <div class="pricing-row">
        <div><span>Template design & testing</span><aside data-tooltip="My design tool of choice is Stripo, but I can adapt to other solutions">&#9432;</aside></div>
        <span>£300</span>
      </div>
      <div class="pricing-row">
        <div><span>Email strategy session</span><aside data-tooltip="Each session is 1 hr and includes a 1:1 chat, a pre-session deep dive, and a template review">&#9432;</aside></div>
        <span>£195</span>
      </div>
    </div>
    <small class="light pad-btt-sm"><br>Multi-step nurture sequences and list maintenance are available for a custom fee.</small>
  </service-card__body>
</section>

<!-- Website Consulting Sessions -->
<section id="consulting" class="pad-top-md service-card">
  <service-card__header style="margin-bottom: -0.33rem;">
    <h2>Website consultation</h2>
    <span class="service-icon streamline-freehand--conversation-question-text-1"></span>
  </service-card__header>
  <service-card__body>
    <p>Undistracted time to talk about any challenges with your website. Ideal for those looking to understand what their website is doing well and what's not. I will assess it, discuss problems, share findings, offer advice, and let you carry on.
    </p>
    <div class="pricing-grid">
      <div class="pricing-row pricing-header">
        <span>Sessions</span>
        <span>Investment</span>
      </div>
      <div class="pricing-row">
        <div><span>One session</span><aside data-tooltip="Each session is 1 hour and includes a 1:1 chat, a pre-session deep dive, a website review, and follow-up notes">&#9432;</aside></div>
        <span>£225</span>
      </div>
      <div class="pricing-row">
        <div><span>Three sessions</span><aside data-tooltip="Each session is 1 hr and includes a 1:1 chat, a pre-session deep dive, and a website review">&#9432;</aside></div>
        <span>£595</span>
      </div>
    </div>
    <small class="light pad-btt-sm"><br>I will review your site ahead of the session. When we meet, I'll answer your questions and share what I've found. Next, we can discuss your website strategy, come up with ideas, plan what to do next, or I can teach you something handy.</small>
  </service-card__body>
</section>

<!-- Do-it-Together Sessions -->
<section id="do-it-together" class="pad-top-md pad-btt-md service-card">
  <service-card__header style="margin-bottom: -0.5rem;">
    <h2>Do-it-together sessions</h2>
    <span class="service-icon streamline-freehand--clap"></span>
  </service-card__header>
  <service-card__body>
    <p>Group body-doubling sessions to work two-by-grid-side, focus, and make progress in a supportive environment. Perfect for tackling tasks like website updates, email writing, or business admin.</p>
    <div class="pricing-grid">
      <div class="pricing-row pricing-header">
        <span>Upcoming sessions</span>
        <span>Ticket (sliding scale)</span>
      </div>
      <div class="pricing-row">
        <span>TBC</span>
        <span>£5-20</span>
      </div>
    </div>
    <p class="pad-top-md">New sessions for Winter '25 are currently being planned. Subscribe to our Luma page to be notified when we launch.</p>
    <a href="https://luma.com/productiveish" target="_blank" rel="noopener noreferrer" class="button-like pad-top-sm pad-btt-sm">Subscribe on Luma</a>
    </service-card__body>
</section>

<!-- Payment Information -->
<section class="pad-top-md pad-btt-md cap-width">
  <h2>Are prices flexible?</h2>
  <p>Sessions are priced as shown. Website and email projects are estimates, with the final cost depending on scope, timeline, and level of client involvement. You'll get an exact quote before we start.</p>
  <p>I offer <a href="/faqs/#concessions">non-stackable discounts</a> on payment terms to everyone.</p>
  <a href="/faqs" class="button-like pad-top-sm white-button">Read all FAQS</a>
</section>

<div class="pad-btt-md">
  {{ ctaSection(
  	"Ready to get started?",
  	"Let's schedule a short, no-pressure introductory chat to discuss your challenges, goals, and how I can help. One click is all it takes.",
  	"Book free intro call"
  ) }}
</div>