---
layout: _base.njk
title: Thanks for signing up
description: You're on the list! Check your inbox for a confirmation email.
permalink: "/thank-you/"
noindex: true
---

{%- from "_cta.njk" import ctaSection -%}
<section class="pad-btt-md cap-width">
    <h2>You're on the list!</h2>
    <p>Thank you. I'm chuffed. You should receive a welcome email shortly. If you don't see it, check your spam folder.</p>
    <p>You won't be getting a regular newsletter—<a href="https://notbadnotbad.substack.com/welcome" target="_blank" rel="noopener noreferrer">that's what my Substack is for</a>—but I will send you occasional and intentional updates about new projects, invites to gatherings, and the rare surprises. Never any spam or AI slop.</p>
    <p class="pad-top-md">
        <a href="/" class="button-like white-button">
            <span><span style="vertical-align: baseline;">←</span>Back to home</span>
        </a>
    </p>
</section>

<div class="pad-btt-md">
    {{ ctaSection(
    "Want to talk sooner?",
    "Don't wait for my next email. Book a free 30 min intro call or drop me a message anytime.",
    "Schedule a call",
    "Copy email"
    ) }}
</div>
