---
layout: _base.njk
title: Web design and no-code development
description: Foolproof websites for people who value honest copy, clean design, and clear pricing.
permalink: '/web-design/'
---

{%- from "_selected-work-card.njk" import selectedWorkCard -%}
{%- from "_cta.njk" import ctaSection -%}

<!-- HERO -->
<section class="pad-btt-md cap-width">
    <h2>Your website should open doors so people can walk in</h2>
    <p>Right now, it's blocking their way. I'll help you fix that with an <mark>intuitive, easy-to-update website</mark>.
        Complete with <mark>copy that tells it like it is</mark>, and backed by a <mark>future-proof strategy</mark>
        that grows with your business.</p>
    <a href="https://cal.com/francescoimola/intro" class="button-like pad-top-sm" target="_blank"
        rel="noopener noreferrer">Book a free intro</a>
</section>

<!-- WHAT_YOU_GET -->
<section class="pad-btt-md cap-width separate-above">
    <h2>What you get</h2>

    <div class="two-by-grid pad-top-md">
        <div class="card">
            <h3 class="small-like">1. Effortless updates</h3>
            <small>Updating your site should be quicker than building a flat-pack wardrobe, and simple
                enough that you can do it without waiting on anyone.</small>
        </div>

        <div class="card">
            <h3 class="small-like">2. Typography that loves you back</h3>
            <small>When it's done right, typography helps people read your content, and stick around longer. That's why
                I never treat it as an afterthought.</small>
        </div>

        <div class="card">
            <h3 class="small-like">3. SEO basics always included</h3>
            <small>I'll do what's needed to build good SEO foundations and bring your site closer to Google's first
                page, without resorting to gimmicks or AI slop.</small>
        </div>

        <div class="card">
            <h3 class="small-like">4. Looks great, doesn't slow you down</h3>
            <small>Your site will work across devices, welcome everyone, and be better for the
                planet. Accessibility and site speed are always front of mind.</small>
        </div>
    </div>
</section>


<section class="pad-btt-md cap-width">
    <h2>Work & Results</h2>
    <section class="card">
        <p class="small-like">"Francesco has the rare talent of being able to embed himself in a niche
            that he previously knew nothing about, quickly understanding the
            intricacies and writing with the confidence of an insider"</p>
        <br />
        <div>
            <strong class="small-like revert-color">Rob Cowen</strong>
            <p class="small-like revert-color">
                Founder, <a href="https://www.seatingplan.com/" target="_blank" rel="noopener noreferrer">Mega Seating
                    Plan</a>
            </p>
        </div>
    </section>
    <section class="card pad-top-sm">
        <h3>Project spotlight: Make & Mind</h3>
        <small style="margin-right: 2%">
            With impactful art classes and top reviews, this Mancunian workshop host had everything going for them.
            Their site, though,
            wasn't telling that story. Until I gave it a complete overhaul. Finally, it matches the spirit of their
            sessions and makes it a breeze for curious folks to book a spot. Built with Figma and Framer.
        </small>
        <div class="pad-top-lg ws-content">
            <aside>
                <div div role="heading" aria-level="4">
                    <h3 class="as-h1">90%</h3>
                    <small class="light">of design approved in 1st feedback round</small>
                </div>
                <div div role="heading" aria-level="4" class="pad-top-md">
                    <h3 class="as-h1">1600+</h3>
                    <small class="light">words written across interface and content</small>
                </div>
                <div div role="heading" aria-level="4" class="pad-top-md">
                    <h3 class="as-h1">100%</h3>
                    <small class="light">Best Practices and SEO Lighthouse scores</small>
                </div>

                <button class="button-like secondary pad-top-lg" disabled>Launching in early 2026</button>
            </aside>
            <img src="https://res.cloudinary.com/dax6x2pto/image/upload/c_lfill,w_1290,f_auto,q_auto/MM_Site_Highlight_jy07gy.webp"
                width="645" height="363" alt="series of screenshots from the Make and Mind website" loading="lazy"
                decoding="async" class="noborder" / eleventy:ignore>
        </div>
    </section>

    <div class="pad-top-sm">
        {{ selectedWorkCard(
        "Check out my portfolio"
        ) }}
    </div>
</section>

<!-- INVESTMENT -->
<section class="pad-btt-md cap-width separate-above">
    <h2>Investment</h2>
    <p>How many hours have you spent trying to fix your broken website? How many more will you spend if nothing changes?
        I can't put a price on the value of giving your business a 360 makeover—but <mark>hiring a
            professional costs this much</mark>:</p>
    <div class="pricing-grid pad-top-md">
        <div class="pricing-row pricing-header">
            <span>What you get</span>
            <span>Investment<sup>&nbsp;(from)</sup></span>
        </div>

        <div class="pricing-row">
            <div class="service-title">
                <h3 class="as-p">Website + CMS</h3>
                <aside data-tooltip="Design & build: up to 6 static pages + 2 CMS page templates. Ideal if you publish regularly or manage a portfolio.">
                        &#9432;</aside>
            </div>
            <span class="service-price">£3,500</span>
        </div>

        <div class="pricing-row">
            <div class="service-title">
                <h3 class="as-p">Standard 3–6 page site</h3>
                <aside data-tooltip="A clean, fast site without a CMS. Perfect for service professionals, restaurants, & physical stores">
                        &#9432;</aside>
            </div>
            <span class="service-price">£2,500</span>
        </div>

        <div class="pricing-row">
            <div class="service-title">
                <h3 class="as-p">One-pager</h3>
                <aside data-tooltip="Up to 10 sections on a single page. Great for launches, events, & artist sites">
                        &#9432;</aside>
            </div>
            <span class="service-price">£600</span>
        </div>

        <div class="pricing-row">
            <div class="service-title">
                <h3 class="as-p">Design only (handover)</h3>
                <aside data-tooltip="I design the site and hand it off to you or a developer for building">
                        &#9432;</aside>
            </div>
            <span class="service-price">£1895</span>
        </div>
    </div>

    <div class="pricing-grid pad-top-sm">
        <div class="pricing-row pricing-header">
            <span>Power-ups</span>
            <span>Cost</span>
        </div>

        <div class="pricing-row">
            <div class="service-title">
                <h3 class="as-p">+ SEO deep-dive</h3>
                <aside data-tooltip="SEO competitor analysis & implementation. I sift through 10+ years of data to find tactics & content ideas worth replicating">
                        &#9432;</aside>
            </div>
            <span class="service-price">£395</span>
        </div>

        <div class="pricing-row">
            <div class="service-title">
                <h3 class="as-p">+ E-commerce setup</h3>
                <aside data-tooltip="Get ready to handle high-volume orders. Includes notifications, item/shipping options, payment integration, & more">
                        &#9432;</aside>
            </div>
            <span class="service-price">£395</span>
        </div>

        <div class="pricing-row">
            <div class="service-title">
                <h3 class="as-p">+ Email marketing starter</h3>
                <aside data-tooltip="Includes list setup, 1 welcome campaign, 1 template design, & 1 email strategy session">
                        &#9432;</aside>
            </div>
            <span class="service-price">£695</span>
        </div>
    </div>

    <small class="light pad-btt-sm"><br>Two revision rounds are always included, with more available for
        a custom fee. You'll get a quote with the best price before we start. My platforms of choice are Figma and
        Webflow, but <a href="#tools">I can adapt to other solutions</a>.</small>

    <a href="https://cal.com/francescoimola/intro" class="button-like pad-top-md" target="_blank"
        rel="noopener noreferrer">Book a free intro</a>
</section>

<!-- IS_THIS_FOR_ME -->
<section class="pad-btt-md cap-width separate-above">
    <h2>Is this for me?</h2>
    <p class="pad-top-sm">Good question. <mark>This is for you</mark>...</p>
    <ul class="pad-top-sm no-list-style side-align-list">
        <li><span>✅</span><span>If you're looking a robust, scalable, and accessible website that tells the story of
                your brand in the most exquisite way possible.</span></li>
        <li class="pad-top-sm"><span>✅</span><span>If you'd like the option to update your blog, contact info and
                seasonal content yourself without calling a developer every time.</span>
        </li>
        <li class="pad-top-sm"><span>✅</span><span>If you value honest hard work over industry gimmicks and
                awards.</span></li>
    </ul>
    <p class="pad-top-lg">And <mark>probably not for you</mark>...</p>
    <ul class="pad-top-md no-list-style side-align-list">
        <li><span>❌</span><span>If you want someone to "transform your brand" or "double your revenue".</span></li>
        <li class="pad-top-sm"><span>❌</span><span>If you're okay with being handed off a sterile, cookie-cutter
                template.</span>
        </li>
        <li class="pad-top-sm"><span>❌</span><span>If you need to rely on an expert full-stack developer to troubleshoot
                and manage a highly complex website.</span></li>
    </ul>
</section>

<!-- HOW_IT_WORKS -->
<section class="pad-btt-md cap-width">
    <h2>How it works</h2>

    <div class="two-by-grid pad-top-md">
        <div class="card">
            <h3 class="small-like">1. Discovery</h3>
            <small>We map out a timeline, discuss your vision, and dig into the research. Then we go over your audience
                pain
                points and the questions your site must answer.</small>
        </div>

        <div class="card">
            <h3 class="small-like">2. Collaboration</h3>
            <small>Without loosing momentum, we move briskly from wireframe to copy and finally design. I draft
                concepts, you share feedback, I refine until it feels
                right.</small>
        </div>

        <div class="card">
            <h3 class="small-like">3. Production</h3>
            <small>I fine-tune interactions, micro-copy, and every detail. Then, before
                we hit Publish, I show you how to access and take care of your
                website going forward.</small>
        </div>

        <div class="card">
            <h3 class="small-like">4. Launch & support</h3>
            <small>Once the site it live, I'll hand you the keys. For ongoing projects, I'll keep making sure everything
                runs smoothly, monitor
                performance and adjust as needed.</small>
        </div>
    </div>
</section>

<!-- TOOLS -->
<section class="pad-btt-md cap-width" id="tools">
    <h2>My tools of choice</h2>
    <p>I love working with software that's <mark>fast, robust, and simple to use</mark>. Whenever possible, I opt for
        open-source
        tools built with accessibility in mind, focused on privacy, and broadly compatible.</p>

    <ul class="pad-top-sm">
        <li><mark>Figma</mark> for designing and prototyping.</li>
        <li><mark>Webflow</mark> for development, hosting, and content management.</li>
        <li><mark>Umami</mark> for GDPR-compliant analytics without cookies.</li>
        <li><mark>Brevo</mark> for emails and forms.</li>
        <li><mark>Porkbun</mark> for domains.</li>
    </ul>

    <h3 class="pad-top-sm">... or yours</h3>
    <p>I can of course adapt to other solutions based on your preferences. I've previously tried and tested Framer as a
        CMS,
        Mailchimp or Loops for email marketing, Ahrefs for SEO analytics, and Luma for event management, among others.
    </p>
</section>

<!-- CTA -->
<section class="card cap-width invert-bg green-bg pad-btt-md">
    <h2>Let's talk about your website</h2>
    <p>Schedule a free intro call to discuss your challenges, ideas, and how I can help. No obligation
        or hard sell, I promise.
    </p>
    <div class="buttons-wrapper pad-top-md">
        <a href="https://cal.com/francescoimola/intro" class=" button-like white-button" type="button" target="_blank"
            rel="noopener noreferrer">Book an introduction</a>
        <a href="mailto:hi@francescoimola.com" target="_blank" rel="noopener noreferrer">Copy
            email instead</a>
    </div>
</section>

<!-- FAQ -->
<section class="pad-btt-md cap-width separate-above">
    <h2>Frequently asked questions</h2>

    <div class="faq-accordion pad-top-md">
        <details class="faq-item">
            <summary class="faq-question">
                <span class="faq-number">1.</span>
                <span class="faq-text">What if I already have a website?</span>
            </summary>
            <div class="faq-answer">
                <p>Not every website needs demolishing to be improved. If you're not ready to part ways with your
                    current site, we can maintain the platform but rethink navigation, copy, and typography, as well as
                    removing distractions and tidying up the
                    back-end.</p>
            </div>
        </details>

        <details class="faq-item">
            <summary class="faq-question">
                <span class="faq-number">2.</span>
                <span class="faq-text">How long does a project take?</span>
            </summary>
            <div class="faq-answer">
                <p>A streamlined project with one revision typically takes 90 days or less to launch. Projects with more
                    features and revsions will of course take longer, but rarely no more than a season. I'll confirm a
                    realistic timeline during
                    our intro call.</p>
            </div>
        </details>

        <details class="faq-item">
            <summary class="faq-question">
                <span class="faq-number">3.</span>
                <span class="faq-text">How many revisions are included?</span>
            </summary>
            <div class="faq-answer">
                <p>All quotes include 2 rounds of revisions. If you need more, additional rounds are available at my day
                    rate (£200). Find more details about revisions and how to use them in my <a
                        href="https://francescoimola.notion.site/Terms-of-Business-106e78091df380d387cbe92ec091a04e"
                        target="_blank" rel="noopener noreferrer">Terms of Business</a>.</p>
            </div>
        </details>
        <details class="faq-item">
            <summary class="faq-question">
                <span class="faq-number">4.</span>
                <span class="faq-text">Why work with me?</span>
            </summary>
            <div class="faq-answer">
                <p>In an industry obsessed with style over substance and quick wins over long-term gains, I stick out
                    like a sore
                    thumb: I design sleek and simple websites. The kind that are honest about what you
                    do and easy to scale for wherever you're going next. Forget the agency overheads, constant
                    overhauls,
                    or complex workflows.</p>
            </div>
        </details>
    </div>
    <div class="pad-top-md"><a href="/faqs/">Find answers to more questions</a></div>
</section>